# Игнорирование временных и ненужных файлов Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
.userprefs

# Игнорирование файлов систем
.DS_Store
*.swp
*.swo
*.tmp

# Игнорирование персональных настроек
.vscode/
.idea/
*.csproj
*.sln

# Не игнорируйте папку Assets и файлы .meta
!Assets/
!Assets/**/*.meta
